.crawl_main {
  padding: 10px;
}
.crawl_page {
  padding: 14px 14px;
}
.primary {
  max-width: max-content;
  background: #225b94 !important;
  background-size: 300% 100% !important;
  background-image: linear-gradient(
    to right,
    #25aae1,
    #043ea5,
    #04befe,
    #3f86ed
  ) !important;
  display: inline-block;
  color: #fff;
  padding: 5px 20px;
  border-radius: 2px;
  cursor: pointer;
}
.roll:hover, .primary:hover {
  opacity: 0.8;
}

.roll {
  max-width: max-content;
  background-size: 300% 100% !important;
  background-image: linear-gradient(to right, #ffbb00, #e43603, #ff6290, #ff5000);
  box-shadow: 0px 2px 4px 0 rgb(229 66 10 / 75%);
  display: inline-block;
  color: #fff;
  padding: 5px 20px;
  border-radius: 2px;
  cursor: pointer;
}

.list_movies,
.list_episode,
#list_crawl_success,
#list_crawl_error,
#schedule_log {
  margin: 10px 0;
  width: 100%;
}

.crawl_filter {
  padding: 10px
}

.crawl_filter .filter_title {
  margin-top: 10px;
  color: #e43603
}

.crawl_filter .filter_item {
  display: grid;
  grid-template-columns: repeat(14, 1fr);
}
.crawl_filter .filter_item label {
  margin: 2px 0;
}

@media only screen and (max-width: 1500px) {
  .crawl_filter .filter_item {
    grid-template-columns: repeat(6, 1fr);
  }
}

@media only screen and (max-width: 1200px) {
  .crawl_filter .filter_item {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media only screen and (max-width: 1024px) {
  .crawl_filter .filter_item {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media only screen and (max-width: 768px) {
  .crawl_filter .filter_item {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (max-width: 600px) {
  .crawl_filter .filter_item {
    grid-template-columns: repeat(2, 1fr);
  }
}


/**
 * Checkbox Toggle UI
 */
 input[type="checkbox"].wppd-ui-toggle {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  -webkit-tap-highlight-color: transparent;

  width: auto;
  height: auto;
  vertical-align: middle;
  position: relative;
  border: 0;
  outline: 0;
  cursor: pointer;
  margin: 0 4px;
  background: none;
  box-shadow: none;
}
input[type="checkbox"].wppd-ui-toggle:focus {
  box-shadow: none;
}
input[type="checkbox"].wppd-ui-toggle:after {
  content: '';
  font-size: 8px;
  font-weight: 400;
  line-height: 18px;
  text-indent: -14px;
  color: #ffffff;
  width: 36px;
  height: 18px;
  display: inline-block;
  background-color: #a7aaad;
  border-radius: 72px;
  box-shadow: 0 0 12px rgb(0 0 0 / 15%) inset;
}
input[type="checkbox"].wppd-ui-toggle:before {
  content: '';
  width: 14px;
  height: 14px;
  display: block;
  position: absolute;
  top: 2px;
  left: 2px;
  margin: 0;
  border-radius: 50%;
  background-color: #ffffff;
}
input[type="checkbox"].wppd-ui-toggle:checked:before {
  left: 20px;
  margin: 0;
  background-color: #ffffff;
}
input[type="checkbox"].wppd-ui-toggle,
input[type="checkbox"].wppd-ui-toggle:before,
input[type="checkbox"].wppd-ui-toggle:after,
input[type="checkbox"].wppd-ui-toggle:checked:before,
input[type="checkbox"].wppd-ui-toggle:checked:after {
  transition: ease .15s;
}
input[type="checkbox"].wppd-ui-toggle:checked:after {
  content: 'ON';
  background-color: #2271b1;
}